name: Generate TAL RSS Feed

permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  generate_feed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install requests beautifulsoup4 lxml feedparser

      - name: Generate RSS feed
        run: python script/generateFeed.py

      - name: Commit & push RSS
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add feed.xml
          git diff --quiet && git diff --staged --quiet || git commit -m "Update TAL RSS feed"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main
