name: TAL Scraper

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      mode:
        description: 'Scrape mode'
        required: true
        default: 7
        type: choice
        options:
          - latest
          - all
          - 7  # example number for testing

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install requests beautifulsoup4 lxml feedparser

      - name: Run scraper
        env:
          SCRAPE_MODE: ${{ github.event.inputs.mode }}
        run: python script/scrape.py

      - name: Commit & push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add data.json
          git diff --quiet && git diff --staged --quiet || git commit -m "Update TAL episodes data"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main
